<header>
  <nav class="navbar navbar-light" style="background-color: rgb(255, 255, 255)">
    <div class="container">
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'app1:main' %}link-light active{% else %}text-dark{% endif %}" href="{% url 'app02:main' %}">Главная страница</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'app02:task' %}">Задачка</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'app02:alldata' %}">Прошлые данные</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="{% url 'app02:notalldata' %}">Сортировка и статистика</a>
        </li>
      </ul>
      {% endwith %}
    </div>
  </nav>      
</header> 