{% extends 'base.html' %}
{% load static %}

{% block content%}

<div class="container py-5">
    <h1> Persona Wiki </h1>
    <div class="Articles">
    <ul>
        <li><a class="nav-link" href="{% url 'app1:aigis'%}">Aigis<a></li>
        <li><a class="nav-link" href="{% url 'app1:makoto'%}">Makoto Yuki<a></li>
        <li><a class="nav-link" href="{% url 'app1:kotone'%}">Kotone Shiomi<a></li>
            <li><a class="nav-link" href="{% url 'app1:fuuka'%}">Fuuka Yamagishi<a></li>
    </ul>
    </div>
{% endblock %}



